name: windows

on:
  pull_request:
  push:
    branches:
      - rrrooommmaaa-7-gha
      - master
      - 'release/**'

env:
  BUILD_MODE: normal
  GPG_VERSION: stable
  CORES: 2

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 50
    steps:
      - name: Disable git eol translation
        run: git config --global core.autocrlf false
      - uses: actions/checkout@v1
      - name: Prepare MSYS2 Selector
        run: npm install ci/msys2_selector
      - name: Install MSYS2
        run: choco.exe install MSYS2 --confirm --version 20190524.0.0.20191030
      - name: Select MSYS2 64-bit
        run: node ci/msys2_selector 64
      - name: MSYS dependencies install
        run: bash.exe ci/before_install.sh
      - name: Check out RNP
        run: bash.exe -c ". ci/env.inc.sh && ci/checkout.sh"
      - name: Build 64-bit
        env:
          RNP_INSTALL: "${GITHUB_WORKSPACE}/rnp/tools/64"
        run: bash.exe -c ". ci/env.inc.sh && ci/main.sh"
      - name: Select MSYS2 32-bit
        run: node ci/msys2_selector 32
      - name: Build 32-bit
        env:
          RNP_INSTALL: "${GITHUB_WORKSPACE}/rnp/tools/32"
        run: bash.exe -c ". ci/env.inc.sh && ci/main.sh"
      - name: Create Chocolatey package
        run: choco.exe pack rnp
